.dockerignore
.env
.git
.gitignore
.vs
.vscode
docker-compose*.yml
docker-compose.dcproj
*.sln
*.md
LICENSE
*.testsettings
vsts-docs
test
README
**/bin/
**/obj/
**/node_modules/
**/bower_components/
**/appsettings.localhost.json
**/build/
!**/web/build/
**/dist/
deployment
assets
docs
**/*.csproj.user
deploys/iac/

#golang
pkg/
bin/
src/github.com/
src/golang.org/
src/google.golang.org/
src/gopkg.in/
