.dockerignore
.env
.git
.gitignore
.vs
.vscode
docker-compose*.yml
docker-compose.dcproj
*.sln
*.md
LICENSE
*.testsettings
vsts-docs
test
README
**/bin/
**/obj/
**/node_modules/
**/bower_components/
**/appsettings.localhost.json
**/build/
**/dist/
deployment
assets
docs
**/*.csproj.user
deploys/iac/
!**/web/build/
!**/netcorekit/build/
.logs/
