root=true

[*]
end_of_line = CRLF
insert_final_newline = true

[*.cs]
indent_style = tab
indent_size = 4
dotnet_sort_system_directives_first = true
csharp_space_after_cast = true

[*.xsd]
indent_style = tab

[*.json]
indent_style = space
indent_size = 2

[*.xml]
indent_style = space
indent_size = 2

[*.cshtml]
indent_style = space
indent_size = 4
