<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <packageSources>
    <clear />
    <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="dotnet-core" value="true" />
    <add key="HvN Source" value="true" />
    <add key="ASP.NET Core Nightly" value="true" />
    <add key="Rx" value="true" />
    <add key="MyGetRelease" value="true" />
  </disabledPackageSources>

</configuration>
