@page "/"
@inject WebUI.Services.JsInterop jsInterop

<h1>Home</h1>

@functions {

    protected override Task OnInitAsync()
    {
      this.StateHasChanged();
      return Task.CompletedTask;
    }

}
