@page "/new-product"
@inject WebUI.AppState state
@inject WebUI.Services.AuthorizedService authorizedService

<div class="section">
  <div class="container">
    <div class="content">
      <h3>Create a New Product</h3>
    </div>
  </div>

  <div class="container">
    <div class="field">
      <label class="label">Product Name</label>
      <div class="control">
        <input class="input" type="text" value="">
      </div>
    </div>
    <div class="field">
      <label class="label">Image</label>
      <div class="control">
        <img src="@ImageUrl" name="image" alt="image" />
        <a class="button is-default" onclick="@( async() => await ChangeImage())">Change Image</a>
      </div>
    </div>
    <div class="field">
      <label class="label">Description</label>
      <div class="control">
        <input class="input" type="text" value="">
      </div>
    </div>
    <div class="field">
      <label class="label">Price</label>
      <div class="control">
        <input class="input" type="number" value="$100">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <a class="button is-primary">Create</a>
      </div>
    </div>
  </div>
</div>

@functions {

  string ImageUrl { get; set; } = "https://picsum.photos/1200/900?image=8";

  protected Task ChangeImage()
  {
    var randomer = new Random();
    ImageUrl = $"https://picsum.photos/1200/900?image={randomer.Next(1, 500)}";
    StateHasChanged();
    return Task.CompletedTask;
  }

  protected async override Task OnInitAsync()
  {
    await state.InitAppStore(async () => await authorizedService.EnsureAuthz(state.User));
  }

}
