@page "/profile"
@inject WebUI.AppState state
@inject WebUI.Services.JsInteropService jsInteropService

<h1>Profile.</h1>

<p>Token: @state?.User?.AccessToken</p>
<p>UserId: @state?.User?.Profile?.UserId</p>
<p>Email: @state?.User?.Profile?.Email</p>
<p>Website: @state?.User?.Profile?.Website</p>

<a onclick=@StartSignOut class="button is-primary">SignOut</a>

@functions {

    async Task StartSignOut()
    {
      await jsInteropService.StartSignOut(@state?.User?.AccessToken);
    }

}
