<aside class="is-light is-radius">
  <div class="sidearea">
    <label class="subtitle is-5" for="pricerange">
      Highest Price:<span> 300</span>
    </label>
    <input class="slider" id="pricerange" type="range" value="300" min="1" max="100" step="1" />
    <span class="min is-pulled-left">$1</span>
    <span class="max is-pulled-right">$300</span>
  </div>
  <div class="sidearea">
    <h4 class="subtitle is-5">Contact Us</h4>
    <p>Questions? Call us at 1-888-555-SHOP, we're happy to be of service.</p>
  </div>
</aside>
