@inherits Microsoft.AspNetCore.Blazor.Layouts.BlazorLayoutComponent
@inject WebUI.AppState state

<div id="app">
  <AppHeader UserModel="@state.User" />
  <div class="container">
    @Body
  </div>
  <AppFooter />
</div>

@functions {

  protected override async Task OnInitAsync()
  {
    await state.InitAppStore();
  }

}
